.globalCont {
  margin-left: 5vw;
  margin-right: 5vw;
}

.mainh1title {
  font-size: 1.9rem;
  line-height: 1.2;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.mainh2title {
  font-size: 1.4rem;
  margin-bottom: 3vh;
  text-align: center;
  margin-top: 4vh;
}

.mainh3title {
  font-size: 1.2rem;
  margin-bottom: 4vh;
}

.introPara {
  font-size: 0.9rem;
  margin-bottom: 3vh;
}

.chevronContainer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
}

.chevrons {

}

.uploadFileTitle {
  font-size: 1.5rem;
  margin-bottom: 2vh;
}

#fileUplCont {
  margin-bottom: 5vh;
  margin-left: 10px;

}

#fileUplCont label {
  margin: 0;
  cursor: pointer;
}

#fileCert {
  margin-top: 2vh;
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.certifyBtn {
  cursor: pointer;
  z-index: 100;
}

#uploadIcon svg {
  /* padding-right: 10px; */
  margin: 0;
}

.fileCertLabel {
  font-size: 1rem;
  margin-bottom: 1vh;
  padding: 20px;
  background: grey;
  color: white;
}

#uploadIcon {
  margin-right: 20px;
}

.fileSignature {
  overflow-wrap: break-word;
}

.sectiondivider {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pastInteractionBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px;
  padding: 10px;
  overflow: scroll;
  text-align: start;
}

.custom-timeline {
  width: 100vw;
}

.listItemTx {
  padding: 5px;
  margin-bottom: 30px;
  border-left: 3px solid;
  /* border-radius: 20px; */
}

.listItemTx:hover {
	animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.historyTxDataPnt {
  /* width: 240px; */
  margin: 0;
  word-wrap: break-word;
}

/*
  DESKTOP STYLES
 */



 /*
      #########
      ANIMATIONS
      #########
  */

  .shake-vertical {
  	animation: shake-vertical 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  }

  .fade-in {
  	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .shadow-pop-tr {
  	animation: shadow-pop-tr 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }

  .shadow-pop-tr-inverse {
    animation: shadow-pop-tr-inverse 0.05s steps(100000, end) both;
  }

  .pulsate-bck {
	        animation: pulsate-bck 0.5s ease-in-out both;
  }


/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-13px);
  }
  20%,
  40%,
  60% {
    transform: translateY(13px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
  }
}


/* 3D POP ANIMATION */
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr-inverse {
  0% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
  100% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
}


/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */

@keyframes pulsate-bck {
  0% {
            transform: scale(1);
  }
  50% {
            transform: scale(0.9);
  }
  100% {
            transform: scale(1);
  }
}
