.globalCont {
  margin-left: 5vw;
  margin-right: 5vw;
}

.mainh1title {
  font-size: 1.9rem;
  line-height: 1.2;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.mainh2title {
  font-size: 1.4rem;
  margin-bottom: 3vh;
  text-align: center;
  margin-top: 4vh;
}

.mainh3title {
  font-size: 1.2rem;
  margin-bottom: 2vh;
}

.introPara {
  font-size: 0.9rem;
  margin-bottom: 3vh;
}

.chevronContainer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.chevrons {

}

.uploadFileTitle {
  font-size: 1.5rem;
  margin-bottom: 2vh;
}

#fileUplCont {
  margin-bottom: 5vh;
}

#fileUplCont label {
  margin: 0;
}

#fileCert {
  margin-top: 2vh;
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#uploadIcon svg {
  /* padding-right: 10px; */
  margin: 0;
}

.fileCertLabel {
  font-size: 1rem;
  margin-bottom: 1vh;
  padding: 20px;
  background: grey;
  color: white;
}

#uploadIcon {
  margin-right: 20px;
}

.fileSignature {
  overflow-wrap: break-word;
}

.sectiondivider {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pastInteractionBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px;
  padding: 10px;
  overflow: scroll;
  text-align: start;
}

.custom-timeline {
  width: 100vw;
}

.listItemTx {
  padding: 5px;
  margin-bottom: 30px;
  border-left: 3px solid;
  /* border-radius: 20px; */
}

.historyTxDataPnt {
  /* width: 240px; */
  margin: 0;
  word-wrap: break-word;
}

/*
  DESKTOP STYLES
 */



 /*
      #########
      ANIMATIONS
      #########
  */

  .shake-vertical {
  	animation: shake-vertical 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  }

  .fade-in {
  	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-13px);
  }
  20%,
  40%,
  60% {
    transform: translateY(13px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
