#globalCont {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;

}

#mainFaqTitle {
  font-size: 1.7rem;
  margin-bottom: 4vh;
}

.questionAnswerCont {
  margin-bottom: 3vh;
}

.questionAnswerCont strong {
  font-weight: 700;
}

.questionAnswerCont span {
  font-weight: 700;
  font-size: 2rem;
  display: block;
}

.question {
  margin-bottom: 2vh;
}


/* DESKTOP STYLES */

@media (min-width: 1000px) {
  .questionAnswerCont span {
    display: inline !important;
    margin-right: 10px;
  }
}
